<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "Page"}} | Responsible IT</title>

    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/general--text.css">
    <link rel="stylesheet" href="/styles/general--controls.css">
    
    <link rel="stylesheet" href="/styles/tokens--colors.css">
    <link rel="stylesheet" href="/styles/tokens--fonts.css">

    <link rel="stylesheet" href="/styles/landmark--header.css" />
    <link rel="stylesheet" href="/styles/landmark--header__accessibility.css" />

    <link rel="stylesheet" href="/styles/landmark--triangles.css" />