{% render './partials/Head.liquid'
  , title: title %}
{% block head %}
{% endblock %}</head><body>
{% render './partials/Header.liquid'
  , current: current %}
{% block %}
{% endblock %}</body></html>