<nav class="nav--main">
  <ul>
    <li><a href="/" lang="en"{% if current == "/" %} aria-current="page"{% endif %}>Home</a></li>
    <li><a href="/visie"{% if current == "visie" %} aria-current="page"{% endif %}>Visie</a></li>
    <li><a href="/projecten"{% if current == "projecten" %} aria-current="page"{% endif %}>Projecten</a></li>
  </ul>
</nav>