---
pagination:
  data: pages.pages
  size: 1
  alias: page
permalink: "{{ page.slug }}/index.html"
---

{% layout './layouts/default-layout.liquid', title: page.title.rendered, current: page.slug | prepend: '/' %}

{% block %}
  <main class="grid-container">
    <div class="main-content">
      <section class="section--content" style="--delay: 0.1s">
        <h1>{{ page.title.rendered | default: "Page" }}</h1>
      </section>
      <section class="section--content" style="--delay: 0.15s">
        {{ page.content.rendered | sanitize }}
      </section>
    </div>
  </main>
  <aside class="sidebar" style="--delay:.2s"></aside>

{% endblock %}