{% layout './layouts/default-layout.liquid'
  , title: "Homepage - Lectoraat Responsible IT" %}

{% block head %}
  <link rel="stylesheet" href="/styles/landmark_main-form.css">

{% endblock %}

{% block %}
  <main>
    <h1>{{ pages.home.title.rendered }}</h1>
    {{ pages.home.content.rendered | sanitize }}
    test
  </main>
{% endblock %}