{% layout './layouts/default-layout.liquid'
  , title: "Homepagina" %}

{% block head %}
  <link rel="stylesheet" href="styles/landmark_main-form.css">

{% endblock %}

{% block %}
  <main class="huge">
    <h1>tekstje</h1>
    <h2>nog 1</h2>
  </main>
{% endblock %}