.form--container {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 2em 3em;

  summary,
  .view-setter--form label {
    white-space: nowrap;
    min-height: 3.125em;
  }
}

@supports (content-visibility: visible) {
  .filter-list--form {
    display: flex;
    gap: 0.25em;

    .custom--button {
      opacity: 0;
      transform: translate(10px);
      pointer-events: none;
      cursor: none;
      visibility: hidden;

      transition:
        transform 0.2s ease-in,
        opacity 0.2s ease-in,
        visibility 0.2s;
    }

    &:has(input:not([data-excluded]):checked) {
      .custom--button {
        opacity: 1;
        transform: translate(0);
        pointer-events: initial;
        cursor: pointer;
        visibility: visible;
        transition:
          transform 0.2s ease-out,
          opacity 0.2s ease-out,
          visibility 0.2s;
      }
    }

    > details {
      position: relative;

      > div {
        margin-top: 0.5em;
        left: 0;
      }
    }

    details,
    ::details-content {
      content-visibility: visible;
      &:not([open]) {
        > .filter-div {
          background: transparent;
          transition: background 0s ease-out;
          transition-delay: calc(var(--filter-count) * .1s);
        }
        .inner-details,
        .inner-div {
          opacity: 0;
          transform: translate(-10px);
          pointer-events: none;
          cursor: none;
          visibility: hidden;

          transition:
            transform 0.2s ease-in,
            opacity 0.2s ease-in,
            visibility 0s;

          transition-delay: 0;
        }
      }
      > .filter-div {
        width: calc(100vw - 4rem);
        position: absolute;
        @media (min-width: 767px){
          display: flex;
          gap: 0.25rem;
          flex-wrap: wrap;
        }

        > .inner-details,
        .inner-div {
          position: relative;

          transition:
            transform 0.2s ease-out,
            opacity 0.2s ease-out,
            visibility calc(0.2s + (0.1s * sibling-index()));
          transition-delay: calc(0.1s * sibling-index());

          .inner-div {
            margin: 0.5em 0 0;
            background-color: var(--bg-form--accessibilty);
            border: var(--border-thin--t);
            border-radius: 0.5em;
            position: absolute;
            top: calc(100%);
            right: 0;
            z-index: 2;
            left: 0;
            box-shadow: var(--shadow);
            width: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: .375em;

            label {
              margin: 0.33em;
              display: inline-flex;
              align-items: center;
              gap: 0.33em;
              cursor: pointer;
              white-space: nowrap;
              font-weight: 600;

              span {
                margin-left: 0.1em;
                align-self: start;
                font-size: calc(1em * 0.7);
              }
            }

            &.full {
              flex-wrap: nowrap;
            }
          }
        }
      }

      input {
        position: relative;
        flex-shrink: 0;
        width: 1.35em;
        height: 1.35em;
        margin: 0;
        display: grid;
        place-items: center;
        appearance: none;
        border: var(--border-medium);
        color: var(--clr);
      }

      input[type="checkbox"] {
        border-radius: 0.25em;

        &::after {
          content: "";
          width: 45%;
          height: 45%;
          width: 33.33%;
          height: 66.67%;
          transform: translateY(-0.05em) rotate(45deg);
          clip-path: polygon(
            calc(100% - 0.1625em) 0,
            100% 0,
            100% 100%,
            0% 100%,
            0% calc(100% - 0.1625em),
            calc(100% - 0.1625em) calc(100% - 0.1625em),
            calc(100% - 0.1625em) 0
          );
          background-color: var(--bg);
        }
      }

      input:checked {
        background-color: var(--clr);

        &[type="radio"]::after {
          width: 45%;
          height: 45%;
          border-radius: inherit;
          content: "";
          position: absolute;
          background-color: var(--bg-input__checked);
        }
      }

      input[type="radio"] {
        border-radius: 50%;
      }
    }
  }
}

.view-setter--form :is(fieldset, legend, input) {
  margin: 0;
  padding: 0;
  border: none;
}

.view-setter--form {
  display: flex;
  justify-content: end;
  height: fit-content;
}

.view-setter--form svg {
  height: 1.75em;
  width: 1.75em;
}

.view-setter--form fieldset {
  text-align: center;
  display: flex;
}

.view-setter--form legend {
  font-weight: 400;
  text-transform: uppercase;
}

.view-setter--form label {
  background: var(--bg-form--accessibilty);
  display: flex;
  flex-direction: row-reverse;
  gap: 0.33em;
  align-items: end;
  line-height: 1;
  justify-content: center;
  padding: 0.5em 0.67em;
  border-radius: 0.5em;
  border: var(--border-thick);
}

.view-setter--form label:first-of-type {
  border-right: unset;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.view-setter--form label:last-of-type {
  border-left: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.view-setter--form :is(label:has(input:checked), .selected) {
  background-color: var(--clr);
}

.view-setter--form svg {
  color: var(--clr);
}

.view-setter--form
  :is(label:has(input:checked), .selected)
  :is(span, svg rect) {
  color: var(--bg);
}

.view-setter--form input[type="radio"] {
  appearance: none;
  position: fixed;
}
