/************/
/* CONTROLS */
/************/

button,
input,
textarea,
select {
  font-size: 1em;
}

/********************/
/* BUTTON / SUMMARY */
/********************/

button,
summary,
.custom--button {
  contain: paint;
  padding: 0.5em 0.67em;
  cursor: pointer;
  appearance: none;
  background-color: var(--bg-button);
  border: var(--border-thick);
  border-radius: 0.5em;
  outline: none;
  font-weight: 600;
  color: var(--clr-button);
  font-size: inherit;
  text-decoration: none;
  user-select: none;

}

label {
  cursor: pointer;
  user-select: none;
}

button:not([disabled], [inert]) {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

/* interaction */
button:focus-visible,
summary:focus-visible {
  position: relative;
  z-index: 1;

  border-style: dashed;
}

button:disabled,
summary:disabled {
  color: var(--clr-button--disabled);
  border-color: var(--brdr-clr-button--disabled);
}

/***************************/
/* BUTTON TOGGLE / SUMMARY */
/***************************/

.button--disclosure,
summary {
  display: inline-flex;
  gap: 0.33em;
  align-items: center;
  justify-content: center;
}

/* marker */
.button--disclosure::after,
summary::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.5625rem;
  background-color: currentColor;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: 50% 0.25rem;
}

/* interaction */
[data-reduced-motion="no-preference"] .button--disclosure::after,
[data-reduced-motion="no-preference"] summary::after {
  transition: transform 0.3s;
}

.is-open .button--disclosure::after,
[open] > summary::after {
  transform: rotate(180deg);
}

/*********/
/* INPUT */
/*********/

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input:focus-visible {
  outline: var(--outline-thick--d);
  outline-offset: 0.15em;
}

/********/
/* LINK */
/********/

a {
  display: inline-block;
  color: var(--clr-link);

  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.15em;
}

a:focus-visible {
  position: relative;
  z-index: 1;

  background-color: var(--bg-outline);
  box-shadow: 0 0 0 0.15em var(--bg-outline);
  outline: 0.2rem solid var(--brdr-clr-outline);
  outline-offset: 0.15em;
}

a:hover {
  color: var(--link-hover);
}
