p:first-of-type {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 1.33;
}

.main-content {
  grid-column: 2 / -2;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  gap: 0 var(--grid-gap);

  > * {
    grid-column: 1 / -1;
  }
  &:has(+ .sidebar) {
    @media (min-width: 64rem) {
      grid-column: 2 / 9;
    }

    @media (min-width: 75rem) {
      grid-column: 3 / 9;
    }
  }
}

/* Only apply margin when triangles are visible */
/* :root:not([data-setting--no-images="true"]) .triangles + main {
  margin-top: -6.125rem;
} */

.section--content__block {
  grid-column: 1 / -1;
}
