:root {
  --number-triangles: 8;
  --subdivision-triangles: 2;
  --max-width-triangles: 108em;

  --width-triangle: calc(
    min(var(--max-width-triangles), 100vw + 4px) / var(--number-triangles)
  );
  --height-triangle: calc(var(--width-triangle) / 0.866);

  --width-triangle--l: calc(var(--width-triangle) * 2);
  --hgth-triangle--l: calc(var(--height-triangle) * 2);

  &[data-setting--no-images="true"] .triangles {
    display: none;
    content-visibility: hidden;
  }

  .triangles {
    z-index: 2;
    grid-column: full;
    height: calc(var(--height-triangle) * 1.5);
    margin-bottom: clamp(1em, 4vw, 2em);
    border-bottom: none;
  }
}
