{% render './partials/head.liquid'
  , title: title %}
{% block head %}
{% endblock %}</head><body>
{% render './partials/header.liquid'
  , current: current %}
{% block %}
{% endblock %}</body></html>